# Arquivos e diretórios do Terraform a serem ignorados
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl
**/terraform.tfstate.backup

# Arquivos e diretórios do Ansible a serem ignorados
**/hosts.ini
